@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #000000;
  color: #ffffff;
}

body {
  min-height: 100vh;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

